<!DOCTYPE html>
<html>
<head>
    <title>Discussion Board</title>
    <link rel="stylesheet" href="../public/css/pages">
</head>
<body>
    <section id="add-post">
        <h2>What are you thinking about?</h2>
        <div class="card">
            <form action="api/discuss/post" method="post">
                <input type="text" name="title" placeholder="Title">
                <textarea name="content" placeholder="Content"></textarea>
                <button type="submit">Create Post</button>
            </form>
        </div>
    </section>

    <section id="view-posts">
    <h2>Discussion Board</h2>
    {{#each posts as |post|}}
        <div class="card">
            <div class="username">
                <h3>Posted by: {{post.User.username}}</h3>
            </div>
            <div class="title">
            <h2>{{post.title}}</h2>
            </div>
            <p>{{post.content}}</p>
            <form action="api/discuss/comment/{{post.id}}" method="post">
                <input type="text" name="content" placeholder="Add a comment">
                <button type="submit">Comment</button>
            </form>
            <p>{{post.Comment.User.username}}</p>
            <p>{{post.Comment.content}}</p>
        </div>
    {{/each}}
    </section>
</body>
</html>